.wrapper {
  margin: 0 auto;
  text-align: center;
  position: relative;
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  min-height: 500px;
  box-shadow: 0 0 30px pink;
  width: 600px;
}

#display {
  border: none;
  background-color: hsl(0, 0%, 20%);
  min-width: 584px;
  height: 100px;
  font-size: 3.1rem;
  color: white;
}
button {
  height: 98px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;

  min-width: 124px;
  border-radius: 35%;
}
#operator {
  background-color: hsl(35, 100%, 55%);
}

#operator:hover {
  background-color: hsl(35, 100%, 65%);
}

#operator:active {
  background-color: hsl(35, 100%, 75%);
}

#c {
  background-color: rgb(254, 27, 27);
}

#c:hover {
  background-color: rgb(252, 67, 67);
}

#c:active {
  background-color: rgb(248, 91, 91);
}
#eval {
  background-color: rgb(18, 241, 18);
}

#eval:hover {
  background-color: rgb(78, 244, 78);
}

#eval:active {
  background-color: rgb(116, 239, 116);
}
::placeholder {
  color: white;
  font-size: 3.1rem;
}
button:hover {
  background-color: hsl(0, 0%, 40%);
}

button:active {
  background-color: hsl(0, 0%, 50%);
}
